#digitalClock {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    text-align: right;
    margin-right: 2rem;
}

#date {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    text-align: right;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s;
    padding: 20px;
    box-shadow: 0 0 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-item {
    margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
    font-size: 11px;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #4154f1;
    transition: 0.3s;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}

.sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
    color: #2626a4;
    background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
}

.sidebar-nav .nav-link:hover {
    color: #2626a4;
    background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
    color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #012970;
    transition: 0.3s;
    padding: 10px 0 10px 40px;
}

.sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: rgba(61, 61, 185, 0.73);
}

.sidebar-nav .nav-content a.active i {
    background-color: #2626a4;
}

#forms-nav > li > a {
    text-decoration: none;
}

#components-nav > li > a {
    text-decoration: none;
}

#dashboardContents {
    position: relative;
    top: 3rem;
    left: 2rem;
    width: 25rem;
}

#dashboardHeader {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    width: max-content;
}

#dashboardNav {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}

.section-dashboard {
    position: relative;
    top: 10rem;
}

.detailBox {
    margin-bottom: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.detailBox-title {
    text-align: center;
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #2626a4;
    font-family: 'Open Sans Condensed', sans-serif;
}

.detailBox-body {
    padding: 0 20px 20px 20px;
}

.detailBox-icon {
    font-size: 2em;
    color: #2626a4;
}

.detailBox-count > h6 {
    margin-left: 6rem;
    font-size: 2em;
}