#customerFormContents {
    position: relative;
    top: 3rem;
    left: 2rem;
    width: 27rem;
}

#customerFormHeader {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

#customerFormNav {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}

.customerFormSection {
    position: relative;
    left: -10rem;
}

.customerFormDetails {
    position: relative;
    top: 8rem;
    margin-bottom: 30px;
    border: none;
}

#nicImageHeader,#licenseImageHeader{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}