@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Merriweather:wght@700&display=swap');

/*Home Section*/

.homeSection {
    width: 100%;
    background-size: cover;
    position: relative;
    background: linear-gradient(to right, #d9d9d9, #f5f5f5);
    min-height: 95vh;
    padding: 160px 0 60px 0;
}

.homeSection h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.homeSection h2 span {
    color: red;
}

.homeSection p {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.homeSection .btn-Register-customer {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: red;
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
}

.homeSection .btn-Register-customer:hover {
    background: rgba(241, 23, 23, 0.82);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}

.img-size {
    width: max-content;
}

#content {
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #140073;
}

.social_media a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    color: #021a4f;
    border: .2rem solid #021a4f;
    border-radius: 50%;
    font-size: 2rem;
    margin: 4rem 1.5rem 3rem 1rem;
}

.social_media a:hover {
    background: #0AD9F5;
    color: #323946;
    box-shadow: 0 0 1rem #0AD9F5;
    transform: scale(1.3);
}

/*About Section*/

#aboutSection {
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.section-header h2 {
    position: relative;
    top: 5rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 42px;
}

#about_img {
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-top: 4rem;
}

#aboutHeader {
    text-align: center;
    margin-top: 6rem;
    font-family: 'Gowun Batang', serif;
    font-size: 30px;
    font-weight: bolder;
}

#aboutPara {
    margin-top: 2rem;
    text-align: center;
    font-family: 'Cambria', serif;
    font-weight: normal;
    font-size: 24px;
}

/*Car Section*/

.carSection {
    position: relative;
    top: 10rem;
}

.section-header p {
    position: relative;
    top: 5rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 18px;
}

.detailBox {
    margin-bottom: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.detailBox-title {
    text-align: center;
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #2626a4;
    font-family: 'Open Sans Condensed', sans-serif;
}

.detailBox-body {
    padding: 0 20px 20px 20px;
}

.detailBox-icon {
    font-size: 2em;
    color: #2626a4;
}

.detailBox-count > h6 {
    margin-left: 6rem;
    font-size: 2em;
}

.search-bar {
    /*background: linear-gradient(to right, #d9d9d9, #f5f5f5);*/
    height: max-content;
    background: linear-gradient(to right, #2626a4, #020246);
    border-radius: 20px;
}

.name-headers {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

#btnSearchCarDetails {
    font-weight: bolder;
    border-width: 3px;
    color: white;
    border-color: white;
}

.detailBox-new{
    margin-bottom: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(2, 2, 44, 0.5);
    padding: 20px;
}

.detailBox-subtitle{
    font-family: 'Bitter', serif;
    text-align: left;
    margin-left: 5rem;
    font-size: 1em;
    text-decoration: none;
}

.detailBox-subtitle-header{
    font-family: 'Merriweather', serif;
    text-align: center;
}

/*Contact Section*/

#contactSection {
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.contactSection .section-header > p {
    position: relative;
    top: 7rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 18px;
}

.contactSection .email-form {
    margin-top: 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 8px 8px 15px 0 black;
}

.contactSection .email-form .form-group {
    padding-bottom: 20px;
}

.contactSection .email-form input,
.contactSection .email-form textarea {
    border-radius: 1rem;
    box-shadow: none;
    font-size: 14px;
    font-style: oblique;
    font-weight: bold
}

.contactSection .email-form input:focus,
.contactSection .email-form textarea:focus {
    border-color: #86b7fe;
}

.contactSection .email-form input {
    height: 48px;
}

.contactSection .email-form textarea {
    padding: 10px 12px;
}

.contactSection .email-form button {
    background: #2626a4;
    border: 0;
    padding: 12px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contactSection .email-form button[type=submit]:hover {
    background: rgba(61, 61, 185, 0.73);
}

.contactSection .details {
    margin-top: 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 8px 8px 15px 0 black;
}

.contactSection .contact-detail-container {
    margin-top: 10rem;
    justify-items: center;
    align-items: center;
}

.contactSection .details > h3 {
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 1rem;
}

.contactSection .details > p {
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.contactSection .details > h2 {
    text-align: center;
    font-style: oblique;
    font-family: 'Gowun Batang', serif;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*Footer Section*/

.footerSection {
    background: linear-gradient(to right, #2626a4, #020246);
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.7);
}

.footerSection .container > h1 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Gowun Batang', serif;
}

.footerSection .nav-links > a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Gowun Batang', serif;
    font-size: 1rem;
}

.footerSection .nav-links > a:hover {
    color: #b7b6b6;
    transform: scale(1.3);
}

.footerSection .copyright {
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}

.footerSection .designer {
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}

.footer_social_media {
    text-align: center;
}

.footer_social_media > a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    color: #ffffff;
    border: .1rem solid #ffffff;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 1rem 1rem 1rem 1rem;
}

.footer_social_media > a:hover {
    background: #0AD9F5;
    color: #323946;
    box-shadow: 0 0 1rem #0AD9F5;
    transform: scale(1.3);
}
